apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
  namespace: perpustakaan-ns
  labels:
    app: filebeat

data:
  filebeat.yml: |
    # ==================== Filebeat Inputs ====================
    filebeat.inputs:
      - type: container
        id: microservices-input
        enabled: true
        paths:
          - /var/log/containers/*.log

        processors:
          - add_kubernetes_metadata:
              host: ${KUBE_NODE_NAME}
              namespace: ${MY_POD_NAMESPACE}
              in_cluster: true

          - add_host_metadata: ~

    # ==================== Filebeat Outputs ====================
    output.logstash:
      hosts: ["logstash-service:5044"]
      worker: 1
      index: "perpustakaan-logs"

    # ==================== Logging Settings ====================
    logging.level: info
    logging.to_files: false
    logging.to_stderr: true

    # ==================== Setup Settings =====================
    setup.template.enabled: false
    setup.ilm.enabled: false
