# ==============================================================================
# ELASTICSEARCH
# ==============================================================================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch-deployment
  namespace: perpustakaan-ns
  labels:
    app: elasticsearch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:7.17.10
          ports:
            - containerPort: 9200

          # -------- PERBAIKAN: Resource Stabil --------
          resources:
            requests:
              memory: "512Mi"
            limits:
              memory: "1Gi"
          # --------------------------------------------

          env:
            - name: discovery.type
              value: single-node
            - name: ES_JAVA_OPTS
              value: "-Xms512m -Xmx512m"
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-service
  namespace: perpustakaan-ns
spec:
  ports:
    - port: 9200
      targetPort: 9200
  selector:
    app: elasticsearch
  type: ClusterIP


# ==============================================================================
# LOGSTASH
# ==============================================================================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash-deployment
  namespace: perpustakaan-ns
  labels:
    app: logstash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      containers:
        - name: logstash
          image: docker.elastic.co/logstash/logstash:7.17.10
          ports:
            - containerPort: 5044
          volumeMounts:
            - name: logstash-config-volume
              mountPath: /usr/share/logstash/pipeline/logstash.conf
              subPath: logstash.conf
      volumes:
        - name: logstash-config-volume
          configMap:
            name: logstash-config
---
apiVersion: v1
kind: Service
metadata:
  name: logstash-service
  namespace: perpustakaan-ns
spec:
  ports:
    - port: 5044
      targetPort: 5044
  selector:
    app: logstash
  type: ClusterIP


# ==============================================================================
# KIBANA
# ==============================================================================
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana-deployment
  namespace: perpustakaan-ns
  labels:
    app: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: docker.elastic.co/kibana/kibana:7.17.10
          ports:
            - containerPort: 5601
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "http://elasticsearch-service:9200"
---
apiVersion: v1
kind: Service
metadata:
  name: kibana-service
  namespace: perpustakaan-ns
spec:
  ports:
    - port: 5601
      targetPort: 5601
      nodePort: 30061
  selector:
    app: kibana
  type: NodePort
